<div class="mainMenu" ng-class="classMenu">
	<div class="avatar">
		<div class="imgAvatar"><img src="img/imgAvatar.png" alt=""></div>
		<div class="infoAvatar">
			<h1>Tiago Lima</h1>
			<p>Sao paulo - SP</p>
			<div class="btn-group btnStatusPerfil" ng-click="openStatusPerfil()" ng-class="class">
				<button aria-expanded="false" data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button"><img src="img/online.png" alt=""> Online <span class="caret"></span></button>
				<ul role="menu" class="dropdown-menu">
					<li><img src="img/online.png" alt=""><a href="#">Online</a></li>
					<li><img src="img/ausente.png" alt=""><a href="#">Ausente</a></li>
					<li><img src="img/ocupado.png" alt=""><a href="#">Ocupado</a></li>
					<li><img src="img/invisivel.png" alt=""><a href="#">Invisível</a></li>
					<li><img src="img/offline.png" alt=""><a href="#">Offline</a></li>
					<li class="divider"></li>
					<li><a href="#">Desconectar</a></li>
				</ul>
			</div>
		</div>
	</div>

	<hr>

	<div class="colsLeft">
		<h1>Contatos online</h1>

		<ul>
			<li><img src="img/online.png" alt="">Thiago Hille</li>
			<li><img src="img/online.png" alt="">Max</li>
			<li><img src="img/online.png" alt="">Daniel Cilli</li>
			<li><img src="img/online.png" alt="">Juarez</li>
			<li><img src="img/online.png" alt="">Ricardo</li>
			<li><img src="img/online.png" alt="">Thiago Hille</li>
			<li><img src="img/online.png" alt="">Max</li>
			<li><img src="img/online.png" alt="">Daniel Cilli</li>
			<li><img src="img/online.png" alt="">Juarez</li>
			<li><img src="img/online.png" alt="">Ricardo</li>

			<li><img src="img/online.png" alt="">Thiago Hille</li>
			<li><img src="img/online.png" alt="">Max</li>
			<li><img src="img/online.png" alt="">Daniel Cilli</li>
			<li><img src="img/online.png" alt="">Juarez</li>
			<li><img src="img/online.png" alt="">Ricardo</li>
			<li><img src="img/online.png" alt="">Thiago Hille</li>
			<li><img src="img/online.png" alt="">Max</li>
			<li><img src="img/online.png" alt="">Daniel Cilli</li>
			<li><img src="img/online.png" alt="">Juarez</li>
			<li><img src="img/online.png" alt="">Ricardo</li>
		</ul>
	</div>

	<hr>

	<div class="colsLeft">
		<h1>Contatos offline</h1>

		<ul>
			<li><img src="img/offline.png" alt="">Thiago Hille</li>
			<li><img src="img/offline.png" alt="">Max</li>
			<li><img src="img/offline.png" alt="">Daniel Cilli</li>
			<li><img src="img/offline.png" alt="">Juarez</li>
			<li><img src="img/offline.png" alt="">Ricardo</li>
			<li><img src="img/offline.png" alt="">Thiago Hille</li>
			<li><img src="img/offline.png" alt="">Max</li>
			<li><img src="img/offline.png" alt="">Daniel Cilli</li>
			<li><img src="img/offline.png" alt="">Juarez</li>
			<li><img src="img/offline.png" alt="">Ricardo</li>

			<li><img src="img/offline.png" alt="">Thiago Hille</li>
			<li><img src="img/offline.png" alt="">Max</li>
			<li><img src="img/offline.png" alt="">Daniel Cilli</li>
			<li><img src="img/offline.png" alt="">Juarez</li>
			<li><img src="img/offline.png" alt="">Ricardo</li>
			<li><img src="img/offline.png" alt="">Thiago Hille</li>
			<li><img src="img/offline.png" alt="">Max</li>
			<li><img src="img/offline.png" alt="">Daniel Cilli</li>
			<li><img src="img/offline.png" alt="">Juarez</li>
			<li><img src="img/offline.png" alt="">Ricardo</li>
		</ul>
	</div>

	<div class="btnCloseMenu" ng-click="closeMenu()">
		<span aria-hidden="true" class="glyphicon glyphicon-menu-hamburger" style=""></span>
	</div>
</div>


<div class="contentChat container-fluid">

	<div class="row">
		<div class="col-xs-12">
			<div class="navegacao"></div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-xs-12">
			<div id="chat" class="containerChat"></div>
		</div>
	</div>

	<form id="send-message" class="enviarMensagem" ng-submit="sendMessage()">
		<div class="form-group col-xs-12">
			<div class="input-group col-xs-12">
				<div class="row">
					<div class="col-xs-10">
		    			<textarea id="message" class="form-control col-md-4"></textarea>
					</div>
					<div class="col-xs-2">
						<input type="submit" class="btn btn-primary enviarMenssage col-md-4" value="Enviar mensagem" />
					</div>
				</div>
			</div>
		 </div>
	</form>
</div>

<!-- <div class="contentChat col-md-12">
	<div class="jumbotron profile">
		<div class="row">
			<div class="col-sm-2">
				<img alt="" src="img/imgAvatar.png" class="img-responsive imgProfile">
			</div>
			<div class="col-sm-2">
				<h3 class="text-left text-info welcome">Tiago Lima</h3>
				<h5 class="text-left text-info welcome">São Paulo - SP</h5>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<div id="chat" class="containerChat"></div>
		</div>
	</div>

	<form id="send-message" class="form-inline enviarMensagem" ng-submit="sendMessage()">
		<div class="form-group">
			<div class="input-group">
				<span class="input-group-addon">Mensagem</span>
		    	<input type="text" size="120%" id="message" class="form-control">
			</div>
			<input type="submit" class="btn btn-primary" value="Enviar mensagem" />
		 </div>
	</form>
</div> -->
